.hotel-slider {
  .fig-image {
    &::before {
      padding-top: calc(100% / var(--hotel-images-ar));
    }
  }
}

.hotel {
  &-wrapper {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      > * {
        &:nth-child(n - 3) {
          margin-top: vw(30, 1440);
        }
      }
    }
  }

  &-slide {
    border-radius: 2px;

    @include media-breakpoint-up(md) {
      width: vw(360, 1440);
      height: vw(290, 1440);
    }
  }
}
