.rooms {
  position: relative;

  &__item {
    position: relative;
    background-color: $color-white;

    @extend %flex-props;
    + * {
      margin-top: 1rem;
    }
  }

  &__images {
    img {
      width: 100%;
      object-fit: cover;
    }

    @include media-breakpoint-up(md) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  &__info {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-direction: column;

      flex: 0 0 50%;
      max-width: 50%;
    }

    &-title {
      font-family: $ff-sans-serif;
      font-size: em(20, $baseFontSize);
      letter-spacing: em(-1, $baseFontSize);
      line-height: 1.2;
      font-weight: bold;
      color: $color-black;

      @include media-breakpoint-up(md) {
        font-size: fluidSize(20, 30, 768, 1200);
      }

      @include media-breakpoint-up(xl) {
        font-size: fluidSize(20, 30, 1200, 1920);
      }
    }

    &-description {
      font-family: $ff-sans-serif;
      font-size: 12px;
      font-weight: 400;
      color: inherit;

      @include media-breakpoint-up(xl) {
        font-size: 16px;
      }
    }
  }
}

.exclusive__box {
  display: block;
  text-align: center;
  font-family: $ff-sans-serif;
  font-size: em(14, $baseFontSize);
  padding: 0.25rem 0.75rem;
  border: 1px solid $color-warm-grey;
  color: $color-warm-grey;

  @include media-breakpoint-down(sm) {
    + * {
      margin-top: 7px;
    }
  }

  @include media-breakpoint-up(md) {
    display: inline-block;
    font-size: fluidSize(10, 14, 768, 1920);

    + * {
      margin-left: 1rem;
    }
  }
}
