.rooms {
  position: relative;

  &__item {
    position: relative;
    background-color: $color-white;

    @extend %flex-props;
    + * {
      margin-top: 1.8rem;
    }
  }

  &__images {
    img {
      width: 100%;
      object-fit: cover;
    }

    @include media-breakpoint-up(md) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  &__info {
    position: relative;
    padding: 3rem 1.5rem;

    &-costs {
      position: relative;
      font-size: 1rem;
      font-weight: bold;
      line-height: 1;
      color: $color-black;

      @include media-breakpoint-up(md) {
        font-size: fluidSize(12,14,768,1280);
      }

      @include media-breakpoint-up(xl) {
        font-size: 1.4rem
      }

      .cost-info {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        border: 2px solid black;

        + * {
          margin-left: 0.5rem;
        }
      }

      .new {
        font-size: 1.6rem;
        letter-spacing: -0.09rem;

        @include media-breakpoint-up(md) {
          font-size: fluidSize(16,20,768,1280);
        }

        @include media-breakpoint-up(xl) {
          font-size: 2rem
        }
      }

      .old {
        color: $color-orange-red;
        text-decoration: line-through;
      }
    }

    @include media-breakpoint-up(md) {
      display: flex;
      flex-direction: column;

      flex: 0 0 50%;
      max-width: 50%;
    }

    &-title {
      font-family: $ff-sans-serif;
      font-size: 2.4rem;
      font-weight: bold;
      color: $color-black;
      text-transform: capitalize;

      @include media-breakpoint-up(md) {
        font-size: fluidSize(20,24,768,1280)
      }

      @include media-breakpoint-up(xl) {
        font-size: 2.4rem
      }

      + * {
        margin-top: 2rem;

        @include media-breakpoint-up(xl) {
          margin-top: vw(20,1920);
        }
      }
    }

    &-description {
      font-family: $ff-sans-serif;
      font-size: 1.8rem;
      font-weight: 400;
      color: $color-grayish-brown;
      line-height: 1.39;

      @include media-breakpoint-up(xl) {
        font-size: fluidSize(16,18,1280,1920)
      }

      + * {
        margin-top: 4rem;

        @include media-breakpoint-up(lg) {
          margin-top: auto;
        }
      }
    }
  }
}

.exclusive__box {
  display: block;
  text-align: center;
  font-family: $ff-sans-serif;
  font-size: em(14, $baseFontSize);
  padding: 0.25rem 0.75rem;
  border: 1px solid $color-warm-grey;
  color: $color-warm-grey;

  @include media-breakpoint-down(lg) {
    + * {
      margin-top: 7px;
    }
  }

  @include media-breakpoint-up(xl) {
    display: inline-block;
    font-size: fluidSize(10, 14, 768, 1920);

    + * {
      margin-left: 1rem;
    }
  }
}

.information-circle {
  font-family: $ff-sans-serif;
  display: inline-block;
  border: 2px solid;
  border-color: inherit;
  border-radius: 100%;
  font-style: normal;
  text-align: center;
  font-weight: 600;

  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.rooms {
  &__images {
    position: relative;
  }

  &-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 16;
  }

  &-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }

  &-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;

    position: relative;

    &::before {
      content: "";
      display: block;

      $ar:1.3269230769230769;

      padding-top: 100% / $ar;

      @include media-breakpoint-up(xl) {
        $ar:1.3703703703703705;
        padding-top: 100% / $ar;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
  }

  &-controller {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    > * {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 999;
      cursor: pointer;

      display: inline-block;
      width: 3.4rem;
      height: 3.4rem;
      border-radius: 100%;
      background-color: $color-white;
      color: $color-black;
      font-size: 2rem;

      &[class*="disabled"] {
        opacity: 0.35;
      }

      &:focus {
        outline: none;
      }

      &::before {
        display: block;
        font-family: $FontAwesomePro;
        font-weight: 300;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &.prev {
        left: 1.5rem;

        &::before {
          content: "\f177";
        }
      }

      &.next {
        right: 1.5rem;

        &::before {
          content: "\f178";
        }
      }
    }
  }

  &-details {
    &-section {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 3rem 1.5rem;
      background-image: linear-gradient(to bottom, transparent, #000000);
      z-index: 17;
      opacity: 0.35;
      color: $color-white;
    }

    font-family: $ff-sans-serif;
    font-size: 1.6rem;
    font-weight: bold;

    .information-circle {
      width: 2rem;
      height: 2rem;
    }
  }
}
