.o1 {
  opacity: 1 !important;
}

.search-details {
  display: flex;
  flex-wrap: wrap;

  > * {
    position: relative;
    min-height: 1px;
    width: 100%;
  }

  @include media-breakpoint-up(xl) {
    justify-content: space-between;
    margin-left: -30px;
    margin-right: -30px;
  }

  .search-results {
    @include media-breakpoint-up(xl) {
      $maxW: 77rem;
      flex: 0 0 $maxW;
      max-width: $maxW;
    }
  }

  .reservation-details {
    font-family: $ff-sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: $color-black;
    background-color: $color-white;

    > * {
      + * {
        margin-top: 1rem;

        &:nth-child(2n+1) {
          margin-top: 1.5rem;
        }

        &.bordered {
          padding-top: 1.5rem !important;
        }
      }
    }

    @include media-breakpoint-up(xl) {
      display: flex;
      flex-direction: column;
      padding: 3rem 2.3rem 1rem;
      min-height: 440px;

      > *:last-child {
        margin-top: auto;;
      }
    }

    [class*="title"] {
      display: inline-block;
      font-weight: bold;
    }

    .title {
      font-size: 1.6rem;

      &--sm {
        font-size: 1.2rem;
      }

      &--lg {
        font-size: 1.8rem;
      }
    }

    .description {
      opacity: 0.5;

      &--lg {
        opacity: 0.5;
        font-size: 1.8rem;
      }

      * {
        float: right;
      }
    }

    &-block {
      position: relative;

      &.bordered {
        border-top: 1px solid rgba($color-black, 0.35);
      }

      @include media-breakpoint-up(xl) {
        border-top: 1px solid rgba($color-black, 0.35);
      }
    }

    @include media-breakpoint-down(lg) {
      position: fixed;
      left: 0;
      bottom: 0;
      z-index: 99;

      &.is-shown {
        padding-left: 2.3rem;
        padding-right: 2.3rem;

        > * {
          &:nth-child(1) {
            padding-top: 3rem;
          }

          &:last-child {
            margin-left: -2.3rem;
            margin-right: -2.3rem;
            margin-top: 3rem;
          }
        }
      }
    }

    @include media-breakpoint-up(xl) {
      position: sticky;
      top: 0;
      $maxW: 37rem;
      flex: 0 0 $maxW;
      max-width: $maxW;
    }

    @include media-breakpoint-down(lg) {

      &:not(.is-shown) {
        > *:not(.reservation-details-trigger) {
          display: none !important;
        }
      }
      
    }

    &-button {
      position: relative;
      display: inline-block;
      cursor: pointer;

      padding-left: 4rem;

      &:before {
        content: "\f107";
        font-family: $FontAwesomePro;
        font-weight: 300;

        position: absolute;
        top:50%;
        left: 1rem;
        transform: translateY(-50%);
        font-size: 3rem;
      }

      @include media-breakpoint-up(xl) {
        cursor: default;
        pointer-events: none;
      }
    }

    &-trigger {
      font-family: $ff-sans-serif;

      @include media-breakpoint-down(lg) {
        background-color: $color-white;
        box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.07);

        padding: 1.5rem !important;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 1.5rem;
        padding-top: 1.5rem;
      }

      .total {
        &-text {
          font-size: 1.8rem;
        }

        &-cost {
          font-size: 2rem;
          font-weight: bold;
          line-height: 1;

          @include media-breakpoint-up(md) {
            font-size: fluidSize(20,24,768,1280);
          }
          
          @include media-breakpoint-up(xl) {
            font-size: 2rem;
            letter-spacing: -0.05vw;
          }
        }
      }
    }
  }
}

.guest-details {
  margin-top: 2rem;
  position: relative;

  .billing-details {
    &:not(.active) {
      display: none;
    }
  }
}
