.search-steps {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    counter-reset: a;
    background-color: $color-pale-grey;

    @include media-breakpoint-down(sm) {
        $margin: calcPercent(13, 375);
        margin-left: $margin * -1%;
        margin-right: $margin * -1%;
    }

    @include media-breakpoint-up(md) {
        justify-content: space-around;
        background-color: transparent;

        + * {
            .row {
                margin-top:1.125rem;
            }
        }
    }

    &-link {
        @include media-breakpoint-up(md) {
            display: flex;
            align-items: flex-end;
            transform: translateY(-66%);
            justify-content: center;
            height: 100%;
        }
    }

    &-item {
        position: relative;

        @include media-breakpoint-up(md) {
            $maxW: calc(100% / 4);
            flex: 0 0 $maxW;
            width: 0 0 $maxW;
            text-align: center;

            &:not(:last-child) {
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 30%;
                    left: 50%;
                    width: 100%;
                    height: 2px;
                    background-color: #a4aaad;
                    z-index: -1;
                }
            }
        }

        &.active {
            @include media-breakpoint-up(md) {
                &:before {
                    background-color: $color-dull-brown;
                }
            }
        }

        @include media-breakpoint-down(sm) {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;

            +* {
                margin-left: 0.25rem
            }

            &.active {
                flex: 0 0 70%;
                max-width: 70%;

                &::before {
                    font-size: em(30, $baseFontSize);
                    color: $color-dull-brown;
                }

                &:after {
                    background-color: $color-dull-brown;
                }
            }

            &:not(.active) {
                .search-steps-text {
                    display: none
                }
            }
        }

        &::before {
            content: "";
            text-align: center;
            counter-increment: a;
            content: counter(a);
            font-family: $ff-sans-serif;
            font-size: em(18, $baseFontSize);
            font-weight: bold;
            color: $color-silver;

            @include media-breakpoint-up(md) {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                background-color: $color-silver;
                color: $color-white;
                width: 50px;
                height: 50px;
                margin: auto;
                font-size: fluidSize(18, 30, 768, 1920);
            }
        }

        @include media-breakpoint-down(sm) {
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 6px;
                background-color: $color-silver
            }
        }
    }

    &-link {}

    &-text {
        font-family: $ff-sans-serif;
        font-size: em(15, $baseFontSize);
        font-weight: bold;
        line-height: 1.13;
        color: $color-dull-brown;

        @include media-breakpoint-up(md) {
            display: block;
            font-size: fluidSize(12, 16, 768, 1920);
            color: $color-warm-grey;
            margin-top: 10px;
        }
    }
}