.search-steps {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  margin-top: 3rem;

  + * {
    margin-top: 3rem;
  }

  @include media-breakpoint-down(sm) {
    justify-content: space-around;
  }

  &-item {
    position: relative;
    text-align: center;

    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;

    &::before {
      position: relative;
      content: "";
      text-align: center;
      font-family: $ff-sans-serif;
      font-size: em(18, $baseFontSize);
      font-weight: bold;
      color: $color-black;

      width: 4rem;
      height: 4rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      background-color: $color-white;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70%;
      color: $color-black;
      margin: auto;
      font-size: fluidSize(18, 30, 768, 1920);
      z-index: 2;
    }

    &:not(:last-child) {
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 30%;
        left: 50%;
        width: 100%;
        height: 2px;
        background-color: $color-white;
        z-index: 1;

        @include media-breakpoint-up(xl) {
          top: calc((100% - 44px) / 2);
        }
      }
    }

    &:nth-child(1) {
      &::before {
        background-image: url(https://ghrcssstorage.blob.core.windows.net/static/Booking/logos/select-room-icon.svg);
      }

      &.is-past {
        &::before {
          background-image: url(https://ghrcssstorage.blob.core.windows.net/static/Booking/logos/select-room-icon--white.svg);
        }
      }
    }

    &:nth-child(2) {
      &::before {
        background-image: url(https://ghrcssstorage.blob.core.windows.net/static/Booking/logos/transfer-icon.svg);
      }

      &.is-past {
        &::before {
          background-image: url(https://ghrcssstorage.blob.core.windows.net/static/Booking/logos/transfer-icon--white.svg);
        }
      }
    }

    &:nth-child(3) {
      &::before {
        background-image: url(https://ghrcssstorage.blob.core.windows.net/static/Booking/logos/guests-icon.svg);
      }

      &.is-past {
        &::before {
          background-image: url(https://ghrcssstorage.blob.core.windows.net/static/Booking/logos/guests-icon--white.svg);
        }
      }
    }

    &:nth-child(4) {
      &::before {
        background-image: url(https://ghrcssstorage.blob.core.windows.net/static/Booking/logos/payment-icon.svg);
      }

      &.is-past {
        &::before {
          background-image: url(https://ghrcssstorage.blob.core.windows.net/static/Booking/logos/payment-icon--white.svg);
        }
      }
    }

    &.active {
      &:before {
        border: 1px solid $color-black;
      }
    }

    &:not(.active):not(.is-past) {
      opacity: 0.35;
    }

    &.is-past {
      &::before {
        background-color: $color-black;
        color: $color-white;
      }

      &:after {
        background-color: $color-black;
      }
    }

    @include media-breakpoint-up(md) {
      $maxW: calc(100% / 4);
      flex: 0 0 $maxW;
      width: $maxW;
      text-align: center;

      &:hover {
        .search-steps-text {
          opacity: 1 !important;
        }
      }
    }
  }

  &-link {
    display: inline-block;
    margin-top: 1.6rem;

    @include media-breakpoint-up(md) {
      display: flex;
      align-items: flex-end;
      transform: translateY(-66%);
      justify-content: center;
      height: 100%;
    }
  }

  &-text {
    display: block;
    font-family: $ff-sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    color: $color-black;

    @include media-breakpoint-up(md) {
      font-size: 12px;
      margin-top: 16px;
    }
  }
}
