$color-dark: #232635;
$color-white: #ffffff;
$color-dirthBrown: #7b5f38;
$color-dark-two: #141621;
$color-pale-grey: #eaeef2;
$color-dull-brown: #8b724a;
$color-light-brown: #e9c47d;
$color-white-two: #e0dfdf;
$color-warm-grey: #707070;
$color-dull-orange: #d69b53;
$color-dark-khaki: #947d58;
$color-black: #000000;
$color-silver: #bbc5ce;
$color-white-four: #f2f2f2;
$color-brownish-grey: #5d5d5d;
$color-pinkish-grey: #c2c2c2;
$color-pastel-red: #fe4839;
$color-pastel-green: #84aa4f;
$color-dark-slate-blue: #253d5f;
$color-dirth-white: #ededed;
$color-dirth-white-two: #c7c7c7;
$color-windows-blue: #0066cc;
$color-pastel-blue: #2a8ed9;
$color-white-100: #f5f4f4;

$color-light-grayish-blue: #f3f7fa;
$color-very-dark-gray: #4a4a4a;
